header{
    background-color: #F3F5FC;
    padding: 40px;
    width: 1440px;
    height: 1024px;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.texto{
    margin: 40px 0 0 50px;
    font-size: xx-large;
    color: gray;
    background-color: #F3F5FC;
    border: none;
}

button{
    display: inline-block;
    font-size: 15px;
}